* {
  box-sizing: border-box;
}

:root {
  --heading: #332d23;
  --muted: #5e5951;
  --light: #c39d78;
  --v-light: #e0802113;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  height: initial;
}

body {
  display: flex;
  justify-content: center;
  color: var(--muted);
  background: url("tiled-bg-wallp.jpg");
  height: fit-content;
  overflow-y: scroll;
  background-attachment: fixed;
}

.middle {
  background-color: white;
  padding: 2rem 3rem;
  min-height: 100vh;
  z-index: 99;
  box-shadow: 0 0 10px #221f1a;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.intro {
  text-align: center;
}

h1 {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-family: Barlow;
  color: var(--heading);
  z-index: 9;
}

.randoscribbles1 {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -70px;
  margin-left: 10vw;
  transform: rotate(25deg);
  overflow: hidden;
  pointer-events: none;
  opacity: 0.9;
}

.randoscribbles2 {
  width: 200px;
  bottom: 0;
  right: 0;
  margin-bottom: -70px;
  margin-right: 10vw;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  opacity: 0.8;
}

.container {
  padding-top: 20px;
  display: flex;
}

.sidebar {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

a {
  color: #0077aa;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

a.unsolved {
  color: #81aec2;
}

a.active {
  color: #22aae4;
}

a:hover {
  text-decoration: underline;
}

a.active::after {
  content: " ←";
}

.grid {
  --side: 500px;
  height: var(--side);
  width: var(--side);
  display: grid;
  --rows: 11;
  --gap: 5px;
  grid-template-columns: repeat(var(--rows), var(--gap) minmax(0, 1fr)) var(
      --gap
    );
  grid-template-rows: repeat(var(--rows), var(--gap) minmax(0, 1fr)) var(--gap);
}

.side {
  background-color: var(--v-light);
}

.grid .number {
  justify-self: center;
  align-self: center;
  font-size: 20px;
}

.grid .inter,
.end {
  background-color: var(--muted);
}

.mouseWrap {
  display: flex;
}

.mouse-img,
.cheese-img {
  max-width: 99%;
  max-height: 99%;
  justify-self: center;
  align-self: center;
  transition: all .5s;
}

.mouse-img.down {
  transform: rotate(0deg);
}

.mouse-img.up {
  transform: rotate(180deg);
}

.mouse-img.left {
  transform: rotate(-90deg);
}

.mouse-img.right {
  transform: rotate(90deg);
}

.para {
  width: 100%;
  text-align: left;
  line-height: 28px;
}

h2 {
  font-family: Barlow;
  color: var(--heading);
}

.hidden,
body:not(.L0) .only-L0,
body:not(.L1) .only-L1,
body.L0 .not-L0 {
  display: none;
}

a.game-overlay {
  text-align: center;
  grid-area: 2 / 2 / span 19 / span 19;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  transition: all .2s ease;
}

a.game-overlay:hover {
  text-decoration: none;
}

a.game-overlay:hover h2 {
  color: var(--light);
}

.console-wrap {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: 5px;
  border: 1px solid rgba(34,36,38,.15);
}

.cm-s-height {
  height: 150px !important;
}

.CodeMirror * {
  font-family: "Fira Code", monospace;
}

.CodeMirror-empty { 
  color: #999 !important; 
}

span.code {
  font-family: "Fira Code", monospace;
  border: 1px solid var(--muted);
  border-radius: 3px;
  padding: 1px 5px;
  background-color: var(--v-light);
}

.run-btn {
  align-self: flex-start;
  margin: 15px 0;
  font-family: Barlow;
  /* text-transform: uppercase; */
  background-color: wheat;
  border: none;
  border-radius: 4px;
  color: var(--heading);
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
}

.run-btn:hover {
  background-color: #ffe3cc;
}

.output-here {
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
}

.output-here .result {
  text-align: right;
  padding: 5px 10px;
  font-size: 14px;
  font-style: oblique;
}

.output-here .text {
  padding: 5px 10px;
}

.output-here .error {
  background-color: rgb(255, 220, 220);
  color: rgb(119, 33, 33);
}

.output-here .out {
  background-color: rgb(255, 245, 227);
  color: var(--heading);
}
